IMU_Methoden_Vergleich_Signale.xlsx
IMU_Methoden_Vergleich_Signale.xlsx
Ergebnisse/01_Signalverläufe.png
Ergebnisse/01_Signalverläufe.png
Ergebnisse/02_Histogramme_Filt_Acc.png
Ergebnisse/02_Histogramme_Normfilt_Acc.png
Ergebnisse/02_Histogramme_rms_{direction}.png
Ergebnisse/02_Histogramme_sum_{direction}.png
Ergebnisse/03_Summenplots.png
Ergebnisse/04_RMS_Plots.png
Ergebnisse/05_Boxplots_acc_x.png
Ergebnisse/05_Boxplots_acc_y.png
Ergebnisse/05_Boxplots_acc_yaw.png
Ergebnisse/05_Boxplots_all.png
Ergebnisse/05_Boxplots_jerk_x.png
Ergebnisse/05_Boxplots_jerk_y.png
Ergebnisse/05_Boxplots_x.png
Ergebnisse/05_Boxplots_y.png
Ergebnisse/05_Boxplots_yaw.png
Ergebnisse/06_Heatmaps_all.png
Ergebnisse/07_Scatterplots.png
Ergebnisse/01_Signalverläufe.png
Ergebnisse/03_Summenplots.png
Ergebnisse/04_RMS_Plots.png
Ergebnisse/05_Boxplots_all.png
